@import '../../../styles/scss/layout';
@import '../../../styles/scss/global';

.admin-sidenav{
    @include padding-vertical(20px);
    position: fixed;
    display: flex;
    width: $admin_sidenav_width;
    height: 100vh;
    background-color: $admin_dark;
    color: #fff;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

.admin-sidenav-menu{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.admin-sidenav-menu a{
    @include padding-vertical(10px);
    @include padding-horizontal(20px);
    text-decoration: none !important;
    color: #fff;
}

.admin-sidenav-menu a:hover{
    color: $admin_primary;
}

.admin-sidenav-icon{
    width: 20px;
    height: 20px;
    margin-right: 12px;
    margin-top: 4px;
}