@import '../../../styles/scss/global';

.form-template{
    &-label{
        text-align: right;
        padding-right: 24px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    &-button-group{
        display: flex;
        justify-content: center !important;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    &-title{
        text-align: center;
        padding-bottom: 14px;
        margin-bottom: 40px;
        font-weight: bold;
        color: #74889B;
        border-bottom: 1.5px solid #E6E6E6;
    }
}

.form-template-button{
    &-primary{
        background-color: $admin_primary !important;
        border: none !important;
        width: 180px;
    }

    &-secondary{
        background-color: #999999 !important;
        border: none !important;
        width: 180px;
    }
}

@media only screen and (max-width: 768px) {
    .form-template{
        &-label{
            text-align: left;
        }
    }
}