@import '../../../styles/scss/global';
@import '../../../styles/scss/layout';

//Hide Vimeo Embed Button
.player .vp-sidedock{
    display: none !important;
}

//Main Style
.post-body-button{
    font-size: 14px !important;
    text-decoration: none !important;
    color: $admin_grey !important;
    padding: 0px 4px 0px 0px !important;
}

.post-title{
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.post-view-container{
    font-size: 14px;
    padding: 12px 16px;
}
.post-view-body{
    color: $user_primary;
}
.post-view-body:hover{
    color: $user_primary;
}
.post-view-avatar{
    width: 36px !important;
    height: 36px !important;
    object-fit: cover !important;
}
.post-view-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 4px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
.post-view-image:last-child{
    margin-bottom: -1px !important;
}
.post-view-album-image{
    border-top: 5px solid $user_border !important;
}
.post-view-handlename{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
    text-decoration: none !important;
    color: $user_primary;
}
.post-view-handlename:hover{
    color: $user_primary;
}
.post-view-video-container{
    padding: 56.25% 0 0 0; 
    position: relative;
}
.post-view-video-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-view-comment-count{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1.25px solid $user_border;
    padding-bottom: 10px;
    border-bottom: 1.25px solid $user_border;
}
.post-view-comment-label{
    color: $user_grey;
    font-weight: 500;
    padding-left: 10px;
}
.post-view-comment-create-pc{
    padding-top: 8px;
    padding-bottom: 20px;
    border-bottom: 4px solid #DCDCDC;
    max-width: 100% !important;
    margin: 0 0 !important;
}
.post-view-comment-create-mobile{
    @include flex-row;
    width: 100% !important;
    align-items: flex-start;
    padding-top: 8px;
    padding-bottom: 20px;
    border-bottom: 4px solid #DCDCDC;
    max-width: 100% !important;
    margin: 0 0 !important;
}
.post-view-comment-body{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.post-view-comment-textarea-mobile{
    @include post-rounded-input-mobile;
    margin-left: 12px;
    font-size: 14px !important;
    min-height: 75px;
    resize: none;
    cursor: text;
}
.post-view-comment-textarea-pc{
    @include post-rounded-input-pc;
    margin-left: 12px;
    font-size: 14px !important;
    min-height: 75px;
    resize: none;
    cursor: text;
}
.post-view-comment-area{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100% !important;
    margin: 0 0 !important;
}
.post-view-readonly-input-pc{
    @include post-rounded-input-pc;
    font-size: 14px;
    border: 0 !important;
    background-color: #F0F1F2;
}
.post-view-readonly-input-mobile{
    @include post-rounded-input-mobile;
    font-size: 14px;
    border: 0 !important;
    background-color: #F0F1F2;
}
.post-view-comment-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 4px;
}
.post-view-comment-below-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 8px;
    padding-bottom: 4px;
}
.post-view-datetime{
    font-size: 12px;
    color: $user_grey;
}
.post-view-comment-buttons{
    display: flex;
    flex-direction: row;
}
.post-view-placeholder-video{
    width: 100%;
}
.post-view-action-pc{
    @include pc-primary-button;
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.post-view-action-icon{
    @include primary-button-icon;
}