@import "../../../styles/scss/global";
@import "../../../styles/scss/layout";

.delete-modal {
  @include modal-pc-container;
}
.delete-modal-overlay {
  @include modal-overlay;
  z-index: 99999999;
}
.btn-container {
  @include modal-pc-button-container;
}

@media (max-width: 1024px) {
  .delete-modal {
    @include modal-tablet-container;
  }
  .btn-container {
    @include modal-mobile-button-container;
  }
}

@media (max-width: 638px) {
  .delete-modal {
    @include modal-mobile-container;
  }
}
