@import '../../../styles/scss/global';

.table-template{
    &-header{
        background-color: #3B4043;
        color: #fff;
        text-align: center;
    }
    &-colored{
        color: $admin_primary;
    }
    &-centered{
        text-align: center;
    }
    &-button{
        color: $admin_primary !important;
        text-decoration: none;
        padding: 0 !important;
    }
}