//GRID
.grid-multi{
    width: 50% !important; 
    padding: 0 !important;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.grid-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}