@import '../../../styles/scss/global';
@import '../../../styles/scss/layout';

.pc-action-button{
    @include pc-primary-button;
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.pc-action-icon{
    @include primary-button-icon;
}