@import '../../../styles/scss/layout';

.admin-header{
    @include flex-center-between;
    background-color: #EDEDED;
    width: 100%;
    height: 50px;
}

.admin-header-dropdown{
    @include flex-row-center;
    background-color: none !important;
    color: #000;
    text-decoration: none !important;
}

.admin-header-name{
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.arrow-down{
    font-size: 10px;
    margin-left: 8px;
}