// Common to Chat Screens
.chat-list-container {
  height: 80vh;
  background-color: white;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  padding: 0 10px;
}

.list-container {
  background-color: #ffffff;
}

.flatlist-container {
  height: 100%;
}

//Chat Conversation Screen
.send-container {
  background-color: #f5f5f5;
  margin-top: 10px;
}
.message-container {
  flex: 1;
  flex-direction: column;
  background-color: white;
  padding: 0 15px;
  height: 600px;
}

.chat-image-container {
  padding: 5px;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 15px;
  max-width: 200px;
}

.chat-image-pc-container {
  padding: 5px;
  margin-bottom: -10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 15px;
  max-width: 350px;
}


input[type="file"] {
  display: none;
}

.chat-image-upload-container{
    height: 100px;
    width: 95%;
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 8%
}

.file-upload-container{
  padding: 0px 5px;
  position: relative
}

.image-preview-container{
  position: relative
}

.image-preview{
  border: 1px solid #B1BCC7;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 5px;
  border-radius: 10px;
}
.custom-file-upload {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

//New Chat
.header-text {
  color: "#0A182C";
  margin-top: 15px;
  margin-left: 32px;
}

//Error messages
.form-error{
  color: red;
  font-size: 12px;
}

@media (max-width: 768px) {
  .header-text {
    color: "#0A182C";
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 638px) {
  .chat-list-container {
    height: 100%;
    padding: 0
  }
  .flatlist-container {
    height: 100%;
  }
  .send-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #f5f5f5;
    text-align: center;
  }
  .message-container {
    padding: 0 10px;
    padding-bottom: 70px;
  }
  .chat-image-upload-container{
    width: 100%;
    position: relative;
  }
}
