@import '../../../../styles/scss/layout';
@import '../../../../styles/scss/global';

.user-main{
    &-profile{
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: $admin_dark;
    }
    &-cardnav{
        width: 255px;
        margin-top: 16px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        color: $admin_dark !important;
    }
    &-snsnav{
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }
    &-sidenav{
        position: fixed;
    }
}

@media only screen and (max-width: 1199px) {
    .user-main-cardnav{
        width: 212px;
    }
}

@media only screen and (max-width: 991px) {
    .user-main-cardnav{
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .user-main-container{
        flex-direction: column-reverse;
    }
    .user-main-sidenav{
        position: relative;
        width: 100% !important;
    }
}