body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFAFA;
  }
  .player .vp-sidedock{
    display: none !important;
}
  @media only screen and (max-width: 638px) {
    body{
        background-color: #DCDCDC;
    }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .formik-error{
    height: 10px;
    color: red;
  }

  .error{
    color: red;
  }

  .flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-between-center::before,
  .flex-between-center::after{
    content: none
  }
  

  .input-radius{
    border-radius: 32px;
    padding: 2px 12px;
    outline: none;
    border: 1px solid #DEDEDE;
  }

  .center-placeholder::placeholder{
    color: #9EABB9;
  }
  .center-placeholder:placeholder-shown{
    text-align: center;
  }

  a{
    text-decoration: none !important;
  }
